:root {
  --container: 1600px;
}
@media (max-width: 1382px) {
  :root {
    --container:1600px;
  }
}
@media (max-width: 1365px) {
  :root {
    --container: 1400px;
  }
}
@media (max-width: 1023px) {
  :root {
    --container: 1240px;
  }
}
@media (max-width: 767px) {
  :root {
    --container: 880px;
  }
}
@media (max-width: 424px) {
  :root {
    --container: 375px;
  }
}

.container {
  margin: 0 auto;
  width: 1200px;
}

:root {
  --container: 1600px;
}
@media (max-width: 1382px) {
  :root {
    --container:1600px;
  }
}
@media (max-width: 1365px) {
  :root {
    --container: 1400px;
  }
}
@media (max-width: 1023px) {
  :root {
    --container: 1240px;
  }
}
@media (max-width: 767px) {
  :root {
    --container: 880px;
  }
}
@media (max-width: 424px) {
  :root {
    --container: 375px;
  }
}

.container {
  margin: 0 auto;
  width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 1920px;
  background-color: #1E1E1E;
}
body header {
  display: flex;
  padding: 10px 142px;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  border-bottom: #3949DB 1px solid;
  margin-bottom: 100px;
}
@media (max-width: 1023px) {
  body header {
    padding-right: 50px;
  }
}
body header .header {
  display: flex;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
  max-width: 100%;
  width: 100%;
}
body header .header .icon-header {
  display: none;
}
@media (max-width: 930px) {
  body header .header .icon-header {
    display: flex;
  }
}
body header .header .btn-login {
  border: none;
  margin-left: 100px;
  padding: 12px 28px;
  display: flex;
  border-radius: 20px;
  background: #3949DB;
  color: #fff;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  cursor: pointer;
}
@media (max-width: 1625px) {
  body header .header .btn-login {
    font-size: 16px;
  }
}
@media (max-width: 1382px) {
  body header .header .btn-login {
    font-size: 14px;
  }
}
@media (max-width: 1199px) {
  body header .header .btn-login {
    font-size: 12px;
    margin-left: 0px;
  }
}
@media (max-width: 1023px) {
  body header .header .btn-login {
    font-size: 10px;
  }
}
@media (max-width: 930px) {
  body header .header .btn-login {
    display: none;
  }
}
body header .header .logo {
  margin-right: 145px;
  cursor: pointer;
}
@media (max-width: 1625px) {
  body header .header .logo {
    max-width: 15%;
    margin-right: 80px;
  }
}
@media (max-width: 1382px) {
  body header .header .logo {
    max-width: 17%;
    margin-left: -100px;
  }
}
@media (max-width: 1199px) {
  body header .header .logo {
    max-width: 15%;
  }
}
@media (max-width: 930px) {
  body header .header .logo {
    max-width: 45%;
  }
}
@media (max-width: 581px) {
  body header .header .logo {
    max-width: 100%;
  }
}
body header .header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header .header .nav .a-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
@media (max-width: 1625px) {
  body header .header .nav .a-nav {
    font-size: 16px;
  }
}
@media (max-width: 1382px) {
  body header .header .nav .a-nav {
    font-size: 14px;
  }
}
@media (max-width: 1199px) {
  body header .header .nav .a-nav {
    font-size: 12px;
  }
}
@media (max-width: 1023px) {
  body header .header .nav .a-nav {
    font-size: 10px;
  }
}
@media (max-width: 930px) {
  body header .header .nav .a-nav {
    display: none;
  }
}
body main {
  height: 885px;
  width: 100%;
  display: flex;
}
body main .container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  padding: 80px 142px 150px 142px;
}
body main .container .left {
  display: flex;
  flex-direction: column;
  gap: 80px;
  color: #ffffff;
  width: 430px;
}
body main .container .left .user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
body main .container .left .user j .FIO {
  display: flex;
  flex-direction: column;
}
body main .container .left .comands {
  color: #ffffff;
  gap: 60px;
  display: flex;
  flex-direction: column;
}
body main .container .left .comands .dolor {
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}
body main .container .left .comands .dolor .ror {
  display: flex;
  align-items: center;
  gap: 20px;
}
body main .container .left .comands .comander {
  border-radius: 20px;
  background: #3949DB;
  padding: 12px 28px;
  color: #ffffff;
  width: 100%;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
body main .container .right {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 72px;
  width: 890px;
  height: 100%;
}
body main .container .right .hac1 {
  background-image: url(/img/hahahon.png);
  height: 290px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  max-width: 99.5%;
  justify-content: space-between;
}
body main .container .right .hac1 .haca1 {
  margin: 220px 0px 35px 35px;
}
body main .container .right .hac1 .Prize1 {
  margin: 220px 35px 0px 56px;
}
body main .container .right .hac2 {
  background-image: url(/img/hahahon_2.png);
  height: 290px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  max-width: 99.5%;
  justify-content: space-between;
  max-width: 99.5%;
}
body main .container .right .hac2 .haca2 {
  margin: 220px 0px 35px 35px;
}
body main .container .right .hac2 .Prize2 {
  margin: 220px 35px 0px 56px;
}
body footer {
  margin: 150px 0px 0px 0px;
  padding: 70px 142px 70px 142px;
  height: 290px;
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body footer .logo_f {
  width: 20%;
  height: 45%;
}
body footer .karusel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}
body footer .contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
body footer .right {
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
body footer .right .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
body footer .right .text .kurs {
  color: #3949DB;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
body footer .right .text .info {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body footer .right .elmail {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 15px;
  border: 1px solid #3949DB;
}

/*# sourceMappingURL=proifle_account.css.map */
